.main {
	width: 100%;
	height: auto;
	margin: auto;
}

.content {

	height: 100%;
	background-color: #55b9b7;
	width: 100%;
	text-align: center;

}

.navbar {

	text-align: center;
	display: inline-block;
	background-color: white;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;


}
li:hover
{
	transform:scale(1,2);
	transition:1s;
}
.menu {

	font-size: 20px;
	padding: 10px;

}

.menu li {
	display: inline-block;


}

a {
	text-decoration: none;
	padding: 0 12px;


}

.menu a:hover {
	color: white;
	background-color: black;
	transition: 3s;


}

.headarea {
	position: relative;
	height: 100%;
}

.headerarea {
	width: 41%;
	position: absolute;
	top: 19%;
	left: 30%;
	width: 41%;


}

.headerarea h4 {
	text-align: center;
	font-size: 2rem;
	color: white;
	margin: auto;
}

.content h1 {
	color: black;

	font-size: 5em;

	letter-spacing: 0.05em;
	line-height: 0.9em;
	margin: 0rem;


	padding: 1rem 0;
}



.BTN {
	BACKGROUND-COLOR: #dad2d2;
	COLOR: black;

	border-radius: 32px;
	font-size: 15px;
	padding: 22px 14px;
	letter-spacing: 1px;
	text-align: center;

	font-style: italic;

	margin-top: 2rem;
	margin-left: unset !important;

}

.content button:hover {
	color: white;
	background-color: black;
	transition: 3s;
}

button:focus {
	outline: none;
}


/* content close*/

.about {
	width: 100%;
	height: 339px;
	background-color: white;
	margin: auto;
	border-bottom: 1px solid #dcd9d9;

}

.about_us {
	width: 100%;
}

.photo {

	float: left;
	margin-left: 2%;
	margin-top: 2%;
	width: 22%;
	margin-right: unset;


}

.photo img {
	height: 258px;
	width: 258px;
	box-shadow: 0px 0px 20px 6px;

	
	transition: 2s ease;
}

.about-title {

	width: 75%;
	float: left;
}


.aboutus p {
	font-size: 36px;


}

.about-para {
	text-align: justify;

	font-size: 18px;
	margin-right: 6%;

}

/*about close */
/*about close */



.middle {
	width: 100%;
	height: 500px;


	background-color: #f2f2f5;
	border-bottom: 1px solid #dcd9d9;

}
.dates
{
	width:40%;
	float:left;
	margin-top:10px;
}




#title-mid {
	color: black;
	font-size: 36px;
}
.babashoes-account
{
	width:100%;
	margin-top:12px;
	    
}
.nov17
{
	width:30%;
	float:left;
	margin-left: 5%;
}
.nov18
{
	
	color:black; 
	font-size:19px;
}
.babashoep
{
	
	font-size: 26px; 
	margin-top: 6px;
	margin-left: 26px;
	
}
.paragraph
{
	text-align: justify; 
	padding: 0px 27px;
}
.assacc
{
	font-size: 19px;
	margin-left: 27px;
}
.jal {
	border: 1px solid #bdbaba;
	text-align:left;
	float:left;
	width:50%;
	margin-left: 5%;
	
}
.babashoesdesign
{
	width:100%;
	margin-top:12px;
	
}
.nov
{
	width:30%;
	float:left;
	margin-left: 5%;
}
.nov19
{
	color:black; 
	font-size:19px;
}
.babashoee
{
	
	font-size: 26px; 
	margin-top: 6px;
	margin-left: 26px;
}
.graphic
{
	font-size: 19px; 
	margin-left: 27px;
}

.jal1
{
	border: 1px solid #bdbaba;
	text-align:left;
	float:left;
	width:50%;
	margin-left: 5%;
}

.calvin
{
	width:100%;
	margin-top:12px;
}
.april
{
width:30%;
	float:left;
	margin-left: 5%;
}
.apr19
{
	color:black; 
	font-size:19px;
}

.chd
{
	border: 1px solid #bdbaba;
	text-align:left;
	float:left;
	width:50%;
	margin-left: 5%;
}

.calvinchd
{
	font-size: 26px;
	margin-top: 6px;
	margin-left: 26px;
}
.assaccchd
{
	font-size: 19px; 
	margin-left: 27px;
}



/* middle area close */



.skill_header {


	height: 125px;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid #dcd9d9;
}

.skill_header ul {
	display: block;

	padding: 0;


}

.skill_header li {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;

	background: #e4e4ea;

	font-size: 1.2em;

}

.skill-title {
	text-align: center;
}

#title_skill {

	color: black;
	font-size: 36px;
}

/* skill area close */








.education {
	width: 100%;

	height: 225px;
	text-align: -webkit-center;
	background-color: #f2f2f5;
	border-bottom: 1px solid #dcd9d9;
}

.education-title {
	text-align: center;
}

#title-edu {
	color: black;
	font-size: 36px;
}

.master {
	width: 48%;
    height: 150px;
    border: 1px solid #bfb8b8;
   
    float: left;
    margin-left: 20px;
}

.detail-edu {
	width: 100%;
	height: 39px;

}
.ikgp
{
	font-size: 22px; 
	float: left;
	margin-top: 6px;
	margin-left: 26px;
}
.nov14
{
	float: right; 
	padding: 12px; 
	font-size: 17px;
}
.masterrr
{
	float: left;
	font-size: 18px; 
	margin-left: 27px; 
	color:black;
	
	
	
}





.bacholar {
	    width: 48%;
    height: 150px;
   
    border: 1px solid #bfb8b8;
    float: left;
    margin-left: 20px;
}

/* education area close */

.footer {
	
	background-color: white;
	padding: 1px 0;
	border-bottom: 1px solid #dcd9d9;
}

.contact-us {
	width: 50%;
	float:left;
	

}
.contactttt
{
	FONT-SIZE: 29PX; 
	PADDING: 0 5REM;
	LETTER-SPACING: 2px; 
}
.connect-me
{
	width: 50%;
	float:left;
}
.joinnnn
{
	FONT-SIZE: 29PX; 
	PADDING: 0 8REM;
	LETTER-SPACING: 2px;
}



.footer-content {
	width: 100%;
	height: 80px;

}

.icons {
	width: 80%;
	height: 42px;

	margin-left: 10%;
	float: left;
	margin-top: 4%;

}

.facebook-icon {

	height: 30px;
	width: 30px;

	border-radius: 50%;
	float: left;
	margin-left: 16%;
	margin-top: 7px;
}

.footer-content #fb:hover {
	background-color: black;
	color: white;
	border-radius: 50%;
	transition: 2s;

}

.footer-content #insta:hover {
	background-color: orange;
	color: white;
	border-radius: 50%;
	transition: 2s;

}

.footer-content #tweet:hover {
	background-color: #00beff;
	color: white;

	border-radius: 50%;
	transition: 2s;

}

.footer-content #mail:hover {
	background-color: red;
	color: white;
	border-radius: 50%;
	transition: 2s;

}

#fb
{
	
	padding: 6px 9px; font-size: 20px;
	
	
}
#tweet
{
	padding: 6px 7px; font-size: 20px;
	
}
#insta
{
	padding: 6px 7px; font-size: 20px;
}
#mail
{
	padding: 6px 6px; font-size: 20px;
}








.clear-fix {
	clear: both;
}



/* footer area close */






















@media only screen and (min-width: 320px) {
	.photo {
		margin: 2% 19%;
		
		width: 62%;

	}

	.photo img {
		height: 297px;
		width: 100%;
		box-shadow: 0px 0px 20px 6px;
	}
	.photo img:hover
	{
		transform: scaleX(-1);
		transition: 2s ease;
		
		filter: saturate(7);
	}
	.headarea {
    position: relative;
    height: 100%;
	}
	
	.headerarea {
		width: 79%;
		left: 9%;

	}
	.content h1 {
	letter-spacing:unset;
	}
	.headerarea h4 {
		font-size: 4rem;
	}

	.btn {
		padding: 40px 17px;
		font-size: 28px;

		margin-top: 8%;
	}

	.about-title
	{
		width: 100%;
	}
	.aboutus
	{
		height:75px;
	}
	.aboutus p
	{
		font-size: 55px;
    text-align: center;
	}
	.about-para
	{
		margin-right:unset;
		
    font-size: 13px;
	}
	.para
	{
		padding: 20px 11%;
    
	}
	
	.jal
	{
		width: 80%;
    text-align: center;
    
    margin-left: 94px;
	}
	
	
	.chd
	{
		width: 80%;
    text-align: center;
    
    margin-left: 94px;
	}
	.contact-us{
	font-size: 22px;
    width: 100%;
	}
	.contactttt
	{
		font-size: 55px;
	}
	.connect-me
	{
		width: 100%;
	}
	.joinnnn
	{
		font-size:55px;
	}
	#title_skill
	{
		font-size:55px;
	}
	
	.nov17
	{
		    width: 100%;
    
    margin: unset;
	}
	.nov18
	{
		font-size: 12px;
	}
	.nov19
	{
		font-size:12px;
	}
	.babashoep
	{
		    font-size: 16px;
    
    margin: unset;
	}
	
	.graphic {
    font-size: 14px;
    margin:unset;
	}
	.assacc {
    font-size: 14px;
	}
	.jal
	{
		width: 100%;
    text-align: center;
    
    margin: unset;
	}
	.jal1
	{
		width: 100%;
    text-align: center;
    margin: unset;
	}
	.babashoee{
	font-size: 16px;
    
    margin: unset;
}
	.nov
	{
		    width: 100%;
    margin: unset;
	}
	.april
	{
		    width: 100%;
    margin: unset;
	}
	.apr19
	{
		font-size:12px;
	}
	.calvinchd {
    font-size: 16px;
	}
	.assaccchd {
	
	font-size:14px;
	margin:unset;
	
	}
	.chd
	{
		width: 100%;
    text-align: center;
    margin: unset;
	}
	.paragraph
	{
	
    padding: 20px 11%;
    font-size: 12px;
}
	
	.middle
	{
		height:80%;
	}
	#title-mid
	{
		font-size: 55px;
	}
	.babashoes-account {
   
    margin-top: 34px;}
	.skill_header
	{
		    height: 247px;
	}
	.skill_header li
	{
		
	
    font-size: 2.2em;
	}
	.skill_header ul {
    
    margin: 18px 12%;
	}
#title-edu {
   font-size:55px;
}
	.education
	{
		height: 421px;
	}
	
	.bacholar
	{
		width: 75%;
    float: unset;
	margin-top:14px;
	
	}
	.master {
    width: 75%;
    float: unset;
	margin-top:20px;
	}
	.ikgp
	{
		font-size: 35px;
	}
	.nov14
	{
		font-size: 26px;
	}
	.masterrr
	{
		font-size: 27px;
	}
	#fb
	{
		    padding: 6px 9px;
    font-size: 40px;
	}
	#tweet
{
	padding: 6px 7px; font-size: 40px;
	
}
#insta
{
	padding: 6px 7px; font-size: 40px;
}
#mail
{
	padding: 6px 6px; font-size: 40px;
}



}










@media only screen and (min-width: 1020px) {
	.main {
	width: 100%;
	height: auto;
	margin: auto;
}

.content {

	height: 100%;
	background-color: #55b9b7;
	width: 100%;
	text-align: center;

}

.navbar {

	text-align: center;
	display: inline-block;
	background-color: white;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;


}
li:hover
{
	transform:scale(1,2);
	transition:1s;
}
.menu {

	font-size: 20px;
	padding: 10px;

}

.menu li {
	display: inline-block;


}

a {
	text-decoration: none;
	padding: 0 12px;


}

.menu a:hover {
	color: white;
	background-color: black;
	transition: 3s;


}

.headarea {
	position: relative;
	height: 85%;
}

.headerarea {
	width: 41%;
	position: absolute;
	top: 19%;
	left: 30%;
	width: 41%;


}

.headerarea h4 {
	text-align: center;
	font-size: 2rem;
	color: white;
	margin: auto;
}

.content h1 {
	color: black;

	font-size: 5em;

	letter-spacing: 0.05em;
	line-height: 0.9em;
	margin: 0rem;


	padding: 1rem 0;
}



.BTN {
	BACKGROUND-COLOR: #dad2d2;
	COLOR: black;

	border-radius: 32px;
	font-size: 15px;
	padding: 22px 14px;
	letter-spacing: 1px;
	text-align: center;

	font-style: italic;

	margin-top: 2rem;
	margin-left: unset !important;

}

.content button:hover {
	color: white;
	background-color: black;
	transition: 3s;
}

button:focus {
	outline: none;
}


/* content close*/

.about {
	width: 100%;
	height: 339px;
	background-color: white;
	margin: auto;
	border-bottom: 1px solid #dcd9d9;

}

.about_us {
	width: 100%;
}

.photo {

	float: left;
	margin-left: 2%;
	margin-top: 2%;
	width: 22%;
	margin-right: unset;


}

.photo img {
	height: 258px;
	width: 258px;
	box-shadow: 0px 0px 20px 6px;

	
	transition: 2s ease;
}

.about-title {

	width: 75%;
	float: left;
}

.aboutus p {
	font-size: 36px;
	text-align:left;


}
.para
{
	padding:unset;
}
.about-para {
	text-align: justify;

	font-size: 18px;
	

}

/*about close */
/*about close */



.middle {
	width: 100%;
	height: 500px;


	background-color: #f2f2f5;
	border-bottom: 1px solid #dcd9d9;

}
.dates
{
	width:40%;
	float:left;
	margin-top:10px;
}




#title-mid {
	color: black;
	font-size: 36px;
}
.babashoes-account
{
	width:100%;
	margin-top:12px;
	    height: 156px;
}
.nov17
{
	width:30%;
	float:left;
	margin-left: 5%;
}
.nov18
{
	
	color:black; 
	font-size:19px;
}
.babashoep
{
	
	font-size: 26px; 
	margin-top: 6px;
	margin-left: 26px;
	
}
.paragraph
{
	text-align: justify; 
	padding: 0px 27px;
	font-size: 14px;
}
.assacc
{
	font-size: 19px;
	margin-left: 27px;
}
.jal {
	border: 1px solid #bdbaba;
	text-align:left;
	float:left;
	width:50%;
	margin-left: 5%;
	
}
.babashoesdesign
{
	width:100%;
	margin-top:12px;
	height: 120px;
}
.nov
{
	width:30%;
	float:left;
	margin-left: 5%;
}
.nov19
{
	color:black; 
	font-size:19px;
}
.babashoee
{
	
	font-size: 26px; 
	margin-top: 6px;
	margin-left: 26px;
}
.graphic
{
	font-size: 19px; 
	margin-left: 27px;
}

.jal1
{
	border: 1px solid #bdbaba;
	text-align:left;
	float:left;
	width:50%;
	margin-left: 5%;
}

.calvin
{
	width:100%;
	margin-top:12px;
}
.april
{
width:30%;
	float:left;
	margin-left: 5%;
}
.apr19
{
	color:black; 
	font-size:19px;
}

.chd
{
	border: 1px solid #bdbaba;
	text-align:left;
	float:left;
	width:50%;
	margin-left: 5%;
}

.calvinchd
{
	font-size: 26px;
	margin-top: 6px;
	margin-left: 26px;
}
.assaccchd
{
	font-size: 19px; 
	margin-left: 27px;
}




/* middle area close */



.skill_header {


	height: 125px;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid #dcd9d9;
}

.skill_header ul {
	display: block;

	padding: 0;


}

.skill_header li {
	
	margin: 7px;
	padding: 5px 10px;

	background: #e4e4ea;

	font-size: 1.2em;

}

.skill-title {
	text-align: center;
}

#title_skill {

	color: black;
	font-size: 36px;
}

/* skill area close */








.education {
	width: 100%;

	height: 225px;
	text-align: -webkit-center;
	background-color: #f2f2f5;
	border-bottom: 1px solid #dcd9d9;
}

.education-title {
	text-align: center;
}

#title-edu {
	color: black;
	font-size: 36px;
}

.master {
	width: 48%;
    height: 150px;
    border: 1px solid #bfb8b8;
    
    float: left;
    margin-left: 20px;
}

.detail-edu {
	width: 100%;
	height: 39px;

}
.ikgp
{
	font-size: 22px; 
	float: left;
	margin-top: 6px;
	margin-left: 26px;
}
.nov14
{
	float: right; 
	padding: 12px; 
	font-size: 17px;
}
.masterrr
{
	float: left;
	font-size: 18px; 
	margin-left: 27px; 
	color:black;
	
	
	
}


.bacholar {
	    width: 48%;
    height: 150px;
   
    border: 1px solid #bfb8b8;
    float: left;
    margin-left: 20px;
}

/* education area close */

.footer {
	
	background-color: white;
	padding: 1px 0;
	border-bottom: 1px solid #dcd9d9;
}

.contact-us {
	float: left;
    font-size: unset;
    width: 50%;
	

}
.contactttt
{
	FONT-SIZE: 29PX; 
	PADDING: 0 5REM;
	LETTER-SPACING: 2px; 
}
.connect-me
{
	width: 50%;
	float:left;
}
.joinnnn
{
	FONT-SIZE: 29PX; 
	PADDING: 0 8REM;
	LETTER-SPACING: 2px;
}


.footer-content {
	width: 100%;
	height: 80px;

}

.icons {
	width: 80%;
	height: 42px;

	margin-left: 10%;
	float: left;
	margin-top: 4%;

}

.facebook-icon {

	height: 30px;
	width: 30px;

	border-radius: 50%;
	float: left;
	margin-left: 16%;
	margin-top: 7px;
}
#fb
{
	
	padding: 6px 9px; font-size: 20px;
	
}
#tweet
{
	padding: 6px 7px; font-size: 20px;
	
}
#insta
{
	padding: 6px 7px; font-size: 20px;
}
#mail
{
	padding: 6px 6px; font-size: 20px;
}

.footer-content #fb:hover {
	background-color: black;
	color: white;
	border-radius: 50%;
	transition: 2s;

}

.footer-content #insta:hover {
	background-color: orange;
	color: white;
	border-radius: 50%;
	transition: 2s;

}

.footer-content #tweet:hover {
	background-color: #00beff;
	color: white;

	border-radius: 50%;
	transition: 2s;

}

.footer-content #mail:hover {
	background-color: red;
	color: white;
	border-radius: 50%;
	transition: 2s;

}



.clear-fix {
	clear: both;
}



/* footer area close */

}
