.main
{
	width:100%;
	height:auto;
	margin:auto;
}
.navbar
{
   
    text-align: center;
   display:inline-block;
   background-color:white;
    border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	

}
.menu
{
	
    font-size: 20px;
	padding:10px;
	

}
.menu a:hover
{
	color:white;
	background-color:black;
	transition:2s;
}
.menu li
{
	display:inline-block;

}
a
{
	text-decoration:none;
	padding:0 12px;
}
.headarea
{
	position:relative;
	min-height:559px;
}
.headerarea
{
	
	position: absolute;
    top: 19%;
    left: 30%;
   
    
   
}
.content
{
	
    height:100%;
	background-color:#55b9b7;
	width:100%;
	text-align:center;
	
}
.content h1
{
	    color: black;
  
    font-size: 5em;
   
    letter-spacing: 0.05em;
    line-height: 0.9em;
    margin: 0rem;
   
   
    padding: 1rem 0;
}

.image img
{    height: 19rem;
    width: 19rem;
    border-radius: 50%;
  
    margin: 0 0;
	box-shadow: 0px 0px 20px 7px;
	
}

.BTN
{
	BACKGROUND-COLOR: #dad2d2;
    COLOR: black;
   
    border-radius: 32px;
    font-size: 15px;
    padding: 22px 14px;
    letter-spacing: 1px;
    text-align: center;
  
    font-style: italic;
    MARGIN-LEFT: 35REM;
	margin-top:2rem;
	margin-left:unset!important;
}
.content button:hover 
{
	color:white;
	background-color:black;
	 transition: 3s;
}
button:focus
{
	outline:none;
}


.about
{
	width:100%;
	height:339px;
	background-color:white;
	margin:auto;

}
.about_us
{
	width:100%;
	

	
}
.photo
{
	
    float: left;
    margin-left:2%;
	margin-top:2%;
	width:258px;


}
.photo img
{
	height:258px;
	width:258px;
	box-shadow: 0px 0px 20px 6px;
}
.aboutus
{
	
    width: 75%;
   
    float: right;
   
}

.aboutus p
{
	color: black;
    font-size: 36px;
    margin: 14px 10px;
}
.about-para
{
	width:75%;
	float:right;
	
}
 .para
{
	color: black;
    font-size:20px;
	margin-right: 6%;
    text-align: justify;
    

}
 

 .skill_header
 {
	 
	
	 height:125px;
	text-align:center;
	background-color:#dcdada;
 }

.skill_header ul
{
	display: block;
   
    padding: 0;
  

}
.skill_header li
{
	display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    
    background: #e4e4ea;
 
    font-size: 1.2em;

}
.skill-title
{
	text-align:center;
}
#title_skill
 {
	
    color: black;
    font-size: 36px;
 }


.bar
{
	margin-right:-3.7rem;
    margin-left: 16rem;
  


}
 .c4
 {
	height: 20px;
    width: 50%;
	margin-left: 97px;
    padding: 0 2.4rem;
    background-color: #bfb9b9;
 
 }
 .c5
 {
	height: 20px;
    width: 50%;
	margin-left: 97px;
    padding: 0 2.4rem;
    background-color: #bfb9b9;
  
 
 }
 .c6
 {
	height: 20px;
    width: 50%;
	margin-left: 97px;
    padding: 0 2.4rem;
    background-color: #bfb9b9;
  
 
 }

 .middle
 {
	 width:100%;
	 height:500px;
	
	
	 background-color:#dcdada;
	 	

 }

 #title-mid
{
	  color: black;
    font-size: 36px;
}
.date-month
{
	width: 26%;
    float: left;
  
    height: 247px;
    margin-left: 12%;
	margin-top:15px;
	text-align:center;
}

.experience-intro
{
	width:50%;
	
	float:left;
	
	margin-top:15px;
	margin-left:20px;
}
.jal
{
	border:1px solid #bdbaba;
}
.jal1
{
	margin-top:15px;
	border:1px solid #bdbaba;
}
 .paira
 {
	 height: 33px;
   
    width: 100%;

 }
 .chd 
 {
	     margin-top: 15px;
		border:1px solid #bdbaba;
 }
.education
{
	width:100%;
	
	height:400px;
	text-align: -webkit-center;
	background-color:white;
}
.education-title
{
	text-align:center;
}
#title-edu
{
	color:black;
	font-size: 36px;
}
.bacholar
{
	width:50%;
	height:150px;
	margin-top:10px;
	border: 1px solid #bfb8b8;
}
.detail-edu
{
	width: 100%;
	height: 39px;

}
.master
{
	width:50%;
	height:150px;
	border: 1px solid #bfb8b8;
	margin-top:10px;
}



 .footer
 {
	 height:128px;
	 width:100%;
	 margin:auto;
	 background-color:white;
	 padding:1px 0;
	
 }
 .footer-content
 {
	 width:100%;
	 height:80px;
	
}
.icons
{
	width: 80%;
    height: 42px;
    
    margin-left: 10%;
    float: left;
    margin-top: 4%;
	
}
.facebook-icon
{
	   
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
	float:left;
	margin-left: 16%;
    margin-top: 7px;
}
 .footer-content #fb:hover
 {
	 background-color:black;
	 color:white;
    border-radius: 50%;
    transition: 2s;
	 
 }
 .footer-content #insta:hover
 {
	 background-color:orange;
	 color:white;
    border-radius: 50%;
    transition: 2s;
	 
 }
 .footer-content #tweet:hover
 {
	 background-color:#00beff;
	 color:white;
	 
    border-radius: 50%;
    transition: 2s;
	 
 }
 .footer-content #mail:hover
 {
	 background-color:red;
	 color:white;
    border-radius: 50%;
    transition: 2s;
	 
 }
 .contact-us
 {
	 width:50%;
	 
	 float:left;
	 
 }
 .connect-me
 {
	  width:50%;
	
	 float:left;
 }
 
/*@media only screen and (min-width: 320px)
{
	
	.headerarea
	{
		 position: absolute;
		top: 24%;
		left: 22%;
	}
	.content h1 
	{
   
		font-size: 5em;
	}
	
	.headerarea h4
	{
		font-size: 3rem;
	}
	.BTN 
	{
		font-size: 35px;
		padding: 37px;
		background-color:unset !important;
		border: 5px solid black;
	
	}
	
	
	
}*/
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 